@font-face {
  font-family: 'Federation';
  src: url('/fonts/federation.ttf') format('truetype');
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 20px;
  font-family: "PT Sans", sans;
  overflow-x: hidden;
  color: rgb(43,79,125);
}

body.frozen {
  overflow-y: hidden;
}

vessel {
  display: block;
}

body > header {
  display: block;
  background-size: cover;
  height: 200vh;
  position: relative;
  background: #FFF;
  z-index: 1000;
}

body > header vessel {
  padding: 2em 2.5em;
}

body > header h1,
body > header h2 {
  margin: 0;
  text-transform: uppercase;
  color: rgb(235,177,36);
  font-family: "Federation";
  font-size: 4em;
  position: fixed;
  bottom: -110px;
  right: 0;
  left: 0;
  height: 250px;
  text-align: center;
  font-weight: normal;
}

body > header h2 {
  font-size: 1.4em;
  color: rgb(90,159,215);
  margin-bottom: -40px;
}

body > header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  perpective: 1000px;
}

body > header ul::before {
  display: block;
  content: "";
  position: fixed;
  background: #FFF url(/img/spock.png) top center no-repeat;
  background-attachment: fixed;
  background-size: auto 78vh;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 1s;
}

body > header ul[visible]::before {
  opacity: 1;
}

body > header ul li {
  height: 20vh;
  margin-bottom: 80vh;
}

body > header ul li.keep-scrolling {
  height: 20vh;
  margin-bottom: 40vh;
}

body > header ul li > #spock img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

body > header ul li > * {
  opacity: 0;
  transform-origin: bottom;
  transform: rotateX(150deg);
  transition: opacity 250ms, transform 750ms;
}

body > header ul li.keep-scrolling > * {
  transition: opacity 1s, transform 1s;
}

body > header ul li[visible] > * {
  transform: rotateX(0);
  opacity: 1;
}

body > header ul li[finished] > * {
  transform: scale(0.8) translateY(-30px);
  opacity: 0;
}

body > header ul li.keep-scrolling[finished] > * {
  transform: translateY(-100px);
  opacity: 0;
}

section {
  background: #FFF;
  padding: 1em 2em;
}

section vessel {
  max-width: 860px;
  margin: 0 auto;
  text-align: justify;
}

p {
  line-height: 1.35em;
}

blockquote {
  font-family: "Federation", serif;
  font-size: 1.4em;
  margin: 0 1.5em;
  text-transform: uppercase;
}

/*****************************************************************************/

#intro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  color: rgb(235,177,36);
  background: rgb(43,79,125);
  font-family: "Old Standard TT", serif;
  font-size: 1.4em;
  padding: 5em 0;
  overflow-y: auto;
  transition: opacity 1s;
  transition-delay: 250ms;
}

#intro a {
  text-decoration: underline;
  color: inherit;
}

#intro a:hover {
  text-decoration: none;
  color: #FFF;
}

#intro p {
  line-height: 1.6em;
  opacity: 1;
  transition: opacity 250ms;
}

#intro p.action {
  text-align: center;
  margin-top: 3em;
}

#intro p.action a {
  background: rgba(0,0,0,.3);
  padding: .25em 1em;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.5em;
  transition: background 200ms, color 200ms;
}

#intro p.action a:hover {
  background: rgb(235,177,36);
  color: rgb(43,79,125);
}

#intro.hidden {
  opacity: 0;
}

#intro.hidden p {
  opacity: 0;
}

/*****************************************************************************/

#nomad {
  font-size: 1.5em;
  font-family: "PT Serif", serif;
  background: rgb(235,177,36);
  color: rgb(107,33,34);
  padding: 10em 0;
}

#nomad p {
  line-height: 1.8;
}

#nomad-map-wrap {
  display: block;
  height: 150vh;
  background: transparent;
  margin: 0 -30px;
  box-shadow: inset 0 0 30px rgba(10,20,30,.8);
}

#nomad-map-wrap vessel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

#nomad-map {
  height: 100vh;
  background: #6b2122 !important;
}

/*****************************************************************************/

#skating {
  font-family: "PT Serif", serif;
  background: rgb(43,79,125);
  color: rgb(235,177,36);
  padding: 35vh 0;
  position: relative;
  z-index: 999999;
}

#skating vessel {
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
  transform: scale(0.8);
}

#skating vessel[visible] {
  transform: scale(1);
  opacity: 1;
}

#skating p {
  line-height: 1.8;
}

#skating .youtube {
  display: block;
  position: relative;
  margin-top: 2em;
  border: 5px solid rgb(235,177,36);
}

/*****************************************************************************/

#bio {
  position: relative;
  background: transparent;
  background: rgb(235,177,36);
  z-index: 900;
}

#bio::before {
  content: "";
  display: block;
  position: absolute;
  background: rgb(43,79,125);
  top: 250vh;
  left: 50%;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transform: translateX(-11px);
  z-index: 900;
}

#bio vessel {
  border-left: 5px solid rgb(43,79,125);
  margin: 250vh auto 700vh auto;
  padding: 5.5em 0 10em 0;
  transform: translateX(50%);
  position: relative;
}

#bio position {
  display: block;
  position: relative;
  padding-left: 1.55em;
  width: 50%;
  height: 200px;
  z-index: 1;
}

#bio position::before {
  content: "";
  display: block;
  position: absolute;
  border: 6px solid rgb(43,79,125);
  background: rgb(43,79,125);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  top: .45em;
  left: -13px;
  z-index: 100;
  transition: transform 500ms, background 500ms;
}

#bio position:not(*:root)::before {
  left: -12px;
}

#bio position:nth-child(2n) {
  margin-top: -80px;
  margin-bottom: -80px;
  margin-left: -9px;
  transform: translateX(-100%);
  z-index: -10;
  padding-left: 0;
  padding-right: 2em;
  text-align: right;
}

#bio position:nth-child(2n)::before {
  left: auto;
  right: -17px;
}

#bio position header {
  display: block;
  margin-right: -10px;
}

#bio position timeline {
  display: inline-block;
}

#bio position timeline::after {
  display: inline;
  content: "@"
}

#bio position timeline > end::before {
  display: inline-block;
  content: "-";
  padding-right: .25em;
}

#bio position summary {
  display: block;
  margin-top: .5em;
  font-size: 1.2em;
  text-align: justify;
}

#bio position:nth-child(2n) summary {
  direction: rtl;
  transform: translateX(10px);
}

#bio position h3,
#bio maybe h3 {
  font-family: "Federation";
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: .5em;
  font-weight: normal;
  transition: transform 500ms;
  transform-origin: left;
}

#bio maybe h3 {
  transform-origin: center;
}

#bio position:nth-child(2n) h3 {
  transform-origin: right;
}

#bio position[perceived] h3 {
  transform: scale(1.2);
}

#bio position[perceived]::before {
  background: rgb(235,177,36);
  transform: scale(1.2);
  transition: transform 500ms;
  transform-origin: center;
}

#bio position[perceived] ~ position[perceived]::before {
  background: rgb(43,79,125);
  transform: scale(1);
}

#bio position[perceived] ~ position[perceived] h3 {
  transform: scale(1);
}

#bio maybe {
  display: block;
  position: relative;
  bottom: 700vh;
  padding-top: 5px;
  text-align: center;
  font-family: "Federation";
  text-transform: uppercase;
  font-size: 2em;
  transition: transform 500ms;
  z-index: 9999;
}

#bio maybe[perceived] h3,
#bio maybe[perceived]::before {
  transform: scale(1.2);
  transform-origin: center;
}

#bio maybe::before {
  content: "?";
  display: block;
  position: absolute;
  background: rgb(43,79,125);
  color: rgb(235,177,36);
  text-align: center;
  font-family: serif;
  font-weight: bold;
  bottom: 130px;
  font-size: 40px !important;
  left: 50%;
  width: 50px;
  height: 50px;
  line-height: 55px;
  border-radius: 50%;
  margin-left: -23px;
  z-index: 900;
  transition: transform 500ms;
}

#bio .keep-scrolling {
  position: relative;
  opacity: 0;
  bottom: 610vh;
  z-index: 100;
  text-align: center;
  font-size: 1.4em;
  font-family: "Federation";
  text-transform: uppercase;
  transition: opacity 1s;
}

#bio .keep-scrolling[visible] {
  opacity: 1;
}

#bio .keep-scrolling span {
  display: block;
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  transition: transform 1s;
}

#bio .keep-scrolling[visible] span {
  transform: translateY(-50px);
}

#bio .keep-scrolling[finished] span {
  transform: translateY(-250px);
}

/*****************************************************************************/

#technologies {
  padding: 35vh 0;
  margin: 0 -30px;
  margin-top: -550vh;
  font-family: "PT Mono", monospace;
  position: relative;
  z-index: 9900;
  opacity: 0;
  background: transparent;
  transition: opacity 2s;
  color: rgba(130,180,225,.9);
}

#technologies[reached] {
  opacity: 1;
}

#technologies:before {
  content: "";
  display: block;
  background: rgb(13,20,35);
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 1s;
}

#technologies[reached]:before {
  opacity: 1;
}

#technologies vessel {
  margin-top: 25em;
  margin-bottom: 25em;
}

#technologies p {
  opacity: 0;
  font-size: 1.2em;
  line-height: 1.8em;
  transform: scale(0.8);
  transition: opacity 1.5s, transform 750ms;
}

#technologies p[visible] {
  opacity: 1;
  transform: scale(1);
}

@keyframes enter-tech-icon {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(100px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

#tech-icons {
  height: 170vh;
  margin-top: 70vh;
  position: relative;
  opacity: 0;
  transition: opacity 500ms;
}

#technologies[reached] #tech-icons {
  display: block;
  opacity: 1;
}

#tech-icons i {
  position: absolute;
  display: inline-block;
  color: rgb(13,20,35);
  background: rgba(130,180,225,.9);
  padding: .35em;
  border-radius: 50%;
  opacity: 0;
}

#technologies #tech-icons i[visible],
#technologies #tech-icons i[finished] {
  animation-name: enter-tech-icon;
  animation-duration: 1s;
  opacity: 1;
}

#tech-icons i .gravity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#tech-icons .python {
  font-size: 6em;
  top: 28%;
  left: 45%;
  animation-duration: 1400ms;
}

#tech-icons .html5 {
  font-size: 4.5em;
  padding-top: .4em;
  padding-bottom: .3em;
  left: 60%;
  top: 60%;
  animation-duration: 2400ms;
}

#tech-icons .c {
  font-size: 2.5em;
  top: 21%;
  left: 21%;
}

#tech-icons .ruby {
  font-size: 3.5em;
  top: 58%;
  left: 34%;
}

#tech-icons .go {
  font-size: 3em;
  top: 29%;
  left: 10%;
  animation-duration: 1100ms;
}

#tech-icons .linux {
  font-size: 3.5em;
  top: 18%;
  left: 70%;
}

#tech-icons .java,
#tech-icons .redis,
#tech-icons .mysql,
#tech-icons .postgres,
#tech-icons .git {
  font-size: 1.8em;
}

#tech-icons .atom,
#tech-icons .firefox {
  font-size: 1.1em;
}

#tech-icons .debian {
  font-size: .45em;
  top: -4em;
  left: -4em;
}

#tech-icons .css3 {
  padding-top: .4em;
  padding-bottom: .3em;
  font-size: .35em;
  bottom: -2em;
  right: -.5em;
}

#tech-icons .git {
  font-size: .65em;
  top: -1em;
  right: -3em;
}

#tech-icons .postgres {
  top: 98%;
  left: 35%;
  animation-duration: 800ms;
}

#tech-icons .mysql {
  font-size: 2.5em;
  top: 85%;
  left: 52%;
}

#tech-icons .nodejs {
  font-size: 1.4em;
  top: 55%;
  left: 15%;
}

#tech-icons .js {
  font-size: .45em;
  right: -2.5em;
  top: 1em;
}

#tech-icons .rails {
  font-size: .35em;
  left: -2.5em;
  bottom: -.25em;
}

#tech-icons .java {
  top: 105%;
  right: 10%;
  animation-duration: 2800ms;
}

#tech-icons .redis {
  top: 85%;
  left: 10%;
}

#tech-icons .atom {
  top: 14%;
  left: 10%;
  animation-duration: 1400ms;
}

#tech-icons .firefox {
  top: 45%;
  left: 82%;
}

/*****************************************************************************/

#locuras {
  background: #FFF;
  font-family: "Old Standard TT", serif;
  font-size: 1.2em;
  z-index: 9899;
  position: relative;
  padding-top: 50vh;
  margin-top: -60vh;
  background: rgb(235,177,36);
  height: 100vh;
}

#locuras vessel {
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
  transform: scale(0.8);
}

#locuras vessel[visible] {
  transform: scale(1);
  opacity: 1;
}

#locuras p {
  line-height: 1.6em;
}

#shine-on {
  height: 200vh;
  box-shadow: inset 0 0 30px rgba(10,10,10,.8);
}

.video {
  display: block;
  height: 200vh;
  margin-top: -50vh;
}

.video video {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0;
}

.video[visible] video {
  opacity: 1;
}

/*****************************************************************************/

#direction {
  padding: 35vh 0;
  background: #FFF;
  font-family: "PT Serif", serif;
  z-index: 9901;
  position: relative;
}

#direction vessel {
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
  transform: scale(0.8);
}

#direction vessel[visible] {
  transform: scale(1);
  opacity: 1;
}

#direction p {
  line-height: 1.8em;
}

/*****************************************************************************/

#moneyz {
  height: 150vh;
  background: transparent;
  margin: 0 -40px;
  box-shadow: inset 0 0 30px rgba(30,10,0,.8);
}

#moneyz .wrapper {
  display: block;
  background: #FFF url(/img/star-trek-money.gif) top center repeat;
  background-size: 500px;
  padding-top: 4px;
  padding-bottom: 142px;
  box-sizing: border-box;
  padding-top: 146px;
  border-top: 6px #FFF solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: -1;
  display: none;
}

#moneyz[visible] .wrapper {
  display: block;
}

#moneyz vessel {
  background: rgb(245,197,66);
  height: 409px;
  border-bottom: 1px solid #FFF;
  max-width: 988px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1.5em 3em;
  text-align: justify;
  position: relative;
}

#moneyz vessel::after {
  position: absolute;
  display: block;
  content: "";
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

#moneyz blockquote {
  font-size: 2.5em;
  margin: .85em 0;
  line-height: 1.2em;
}

/*****************************************************************************/

#potato {
  height: 100vh;
  background: #FFF;
  font-family: "Old Standard TT", serif;
}

#potato vessel {
  text-align: center;
  padding-top: 15vh;
}

#potato p {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 4em;
}
